<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Quản Lý Người Dùng</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container-fluid text-center">
    <div class="row" style="background:rgba(102,153,51,1); color:#eee;">
      <div class="col-md-1 table-bordered" style="padding:10px 0">ID</div>
      <div class="col-md-3 table-bordered" style="padding:10px 0">Tên Người Dùng</div>
      <div class="col-md-3 table-bordered" style="padding:10px 0">Thời Gian Bắt Đầu</div>
      <div class="col-md-3 table-bordered" style="padding:10px 0">Tình Trạng</div>
      <div class="col-md-2 table-bordered" style="padding:10px 0">Hành Động</div>
    </div>
    <div class="row">
      <div class="col-md-1 table-bordered">1</div>
      <div class="col-md-3 table-bordered">Huy Kute</div>
      <div class="col-md-3 table-bordered">18:35pm 15/5/2015</div>
      <div class="col-md-3 table-bordered">Online</div>
      <div class="col-md-2 table-bordered">
      	<button type="button" class="btn btn-primary btn-xs">Ngắt kết nối</button>
      </div>
    </div>
</div>
</body>
</html>
